body {
  background-image: url('school.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 { 
  color:white;
  font-size:100px;
}
p { 
  color:white;
  font-size:40px;
}
.btn {
  display: inline-block; /* Строчно-блочный элемент */
  background: #2E8B57; /* цвет фона */
  color: #fff; /* Белый цвет текста */
  padding: 1rem 1.5rem; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  border-radius: 3px; /* Скругляем уголки */
}